<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Rdvs" type="Cd62.Rdvs.Configuration.ConfigurationRdvs, Rdvs.Configuration, Version=1.0" restartOnExternalChanges="true" />
  </configSections>

  <Rdvs>
    <CleHash value="(●'◡'●)"/>
    <HeaderSignature value="X-Lapin-Signature"/>
    <ModelRendezVous value="Rdv"/>
    <ModelPlageOuverture value="PlageOuverture"/>
    <RappelMinutesAvantDebut value="15"/>
  </Rdvs>
</configuration>